html{
	background-color:#6ee0f4;
}
body{
	width: 600px;
	margin: 0 auto;
	background-color:#00f0c8;
	padding:0 20px 20px 20px;
	border: 5px solid #0bb0bc;
	border-radius:25px;
	position:relative;
	bottom: -300px;
}
#num1{
	background-color:#359aff;
	color:white;
	opacity:.6;
	
}
#num2{
	background-color:#359aff;
	color:white;
	opacity:.6;
}
#min{
	width:500px;
	
}
button{
	background-color:#359aff;
	color:white;
	padding:10px 15px;
	margin:6px 0;
	border:1px solid #0bb0bc;
	border-radius:3px;
	opacity:.6;
}
footer{
	text-align:Center;
	font-weight: bold;
	color:#1260e8;
}
h1{
	text-align:right;
	color:#02488e;
	opacity:.6;
}
label{
	color:#02488e;
	font-weight:bold;
}
input{
	padding:12px 20px;
	margin: 8px 0;
	border:2px solid #0bb0bc;
	border-radius:5px;
}
p{
	color:white;
}
#thisnot{
	color:#0bb0bc;
}